*{
    margin: 0;
    padding: 0; 
}
.menu-container{
    background-color: rgb(32,32,32);
    padding: 20px; 
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-photo{
    width: 120px; 
}

.menus{
    display: flex;   
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue; 
    cursor: pointer; 
}

.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 2px solid gray;
    color: white;
    background-image: url("./images/background.png"), 
    linear-gradient(45deg, rgb(9, 8, 8), rgb(53, 53, 53));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px; 
    background-color: red;
    color: white;
    border: none; 

}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px; 
}

.about-title{
    text-align: center;
    padding-top: 20px;
}

.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 60px grey;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 100px;
}

.box-btn{
    background-color: grey;
    margin-top: 10px;
}

.box-title{
    padding: 10px; 
}

.box-description{
    padding: 5px; 
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px; 

}

.service-main{
    background-image: url('images/background.png'),
    linear-gradient(45deg, rgb(13, 12, 12), rgb(46, 44, 44));
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}

.service-title{
    margin-top: 30px; 
}

footer{
    background-color: rgb(5, 5, 5);
    color: white; 
    width: 100%;
    height: 450px; 


}

.mega-container{
    display: flex; 
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 400px; 

}
.info-box{
    width: 300px;
    line-height: 2;
    height: 200px;
    
}

.narrow-box{
    width: 150px; 
}
.useful-link{
    display: block; 
    color: white; 
    text-decoration: none;
}

.footer-p{
    width: 100%;
    text-align: center; 
    margin-top: 10px; 
}